body{
	background: #72776f;
	width:1000px;
}

img{
	margin:10px;
padding:10px;
}

h1{
	text-align:center;
	color:#1b035c;
font-family:Algerian,Arial,Helvetica;
margin:10px;
padding:10px;	
}

a{
	color:#1b035c;
	background:#faf3d6;
	margin:10px;
padding:10px;
}

h2{
	text-align:center;
	font-family:Algerian,Arial,Helvetica;
	color:#1b035c;
	margin:10px;
padding:10px;
}

p{
width:1000px;
background:#faf3d6;
color:#145e85;
margin:10px;
padding:10px;	
}

li{
	background:#faf3d6;
	color:#145e85;
	margin:3px;
    padding:3px;
}

h3{
	font-family:Algerian,Arial,Helvetica;
	color:#1b035c;
	margin:10px;
padding:10px;

};
